@font-face
{
	font-family: "Raphaelicons";
	src:url("Raphaelicons/raphaelicons-webfont.eot") format('eot'),
		url("Raphaelicons/raphaelicons-webfont.woff") format('woff'),
		url("Raphaelicons/raphaelicons-webfont.svg") format('eot'),
		url("Raphaelicons/raphaelicons-webfont.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
body
{
	color: #333;
	overflow: hidden;
	background: #ddd;
	font-size: 15px;
}

.stcontain
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.clr 
{
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	clear: both;
}
a
{
	text-decoration: none;
	color: #555;
}
.stcontain>input,
.stcontain>a
{
	width: 20%;
	height: 34px;
	line-height: 34px;
	position: fixed;
	bottom: 0;
}
.stcontain>input
{
	z-index: 1000;
	opacity: 0;
}
.stcontain>a
{
	z-index: 10;
	text-align: center;
	background:#e23a6e;
	color: #fff;
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
}
#radio1,#radio1+a
{
	left: 0%;
}
#radio2,#radio2+a
{
	left: 20%;
}
#radio3,#radio3+a
{
	left: 40%;
}
#radio4,#radio4+a
{
	left: 60%;
}
#radio5,#radio5+a
{
	left: 80%;
}
.stcontain>input:checked+a,
.stcontain>input:checked:hover+a
{
	background: #821134;
}
.stcontain>input:hover+a
{
	background: #ad244f;
}
.stcontain>input:checked+a:after
{
	content: "";
	width: 0;
	height: 0;
	border:20px solid transparent;
	position: absolute;
	border-bottom-color: #821134;
	bottom: 100%;
	left:50%;
	margin-left: -20px;
}

/*内容区*/
.maincon,
.stpanel
{
	width: 100%;
	height: 100%;
	position: relative;
}
.maincon
{
	left: 0;
	top: 0;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
}
.stpanel
{
	background: #fff;
	overflow: hidden;
}
#radio1:checked ~ .maincon
{
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-o-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transform:translateY(0%);
}
#radio2:checked ~ .maincon
{
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
#radio3:checked ~ .maincon
{
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	transform:translateY(-200%);
}
#radio4:checked ~ .maincon
{
	-webkit-transform:translateY(-300%);
	-moz-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	transform:translateY(-300%);
}
#radio5:checked ~ .maincon
{
	-webkit-transform:translateY(-400%);
	-moz-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
	transform:translateY(-400%);
}
.stdesc
{
	width: 200px;
	height: 200px;
	background: #fa96b5;
	position: absolute;
	left: 50%;
	top:0;
	margin-left: -100px;
	-webkit-transform:translateY(-50%) rotate(45deg);
	-moz-transform:translateY(-50%) rotate(45deg);
	-o-transform:translateY(-50%) rotate(45deg);
	-ms-transform:translateY(-50%) rotate(45deg);
	transform:translateY(-50%) rotate(45deg);
}
[data-icon]:after
{
	content: attr(data-icon);
	width: 200px;
	height: 200px;
	color: #fff;
	font-size: 90px;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left: 50%;
	top :50%;
	margin: -100px 0 0 -100px;
	-webkit-transform: rotate(-45deg)  translateY(25%);
	-moz-transform:  rotate(-45deg) translateY(25%);
	-o-transform:  rotate(-45deg) translateY(25%);
	-ms-transform:  rotate(-45deg) translateY(25%);
	transform: rotate(-45deg) translateY(25%);
	font-family: "Raphaelicons";
}
.stpanel h2
{
	color: #e23a6e;
	font-size: 54px;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	width: 80%;
	position: absolute;
	left:10%;
	top:50%;
	margin-top: -70px;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
#radio1:checked ~ .maincon #div1 h2,
#radio2:checked ~ .maincon #div2 h2,
#radio3:checked ~ .maincon #div3 h2,
#radio4:checked ~ .maincon #div4 h2,
#radio5:checked ~ .maincon #div5 h2
{
	-webkit-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	animation:moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown
{
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}
.stpanel p 
{
	position: absolute;
	width: 50%;
	left:25%;
	top:50%;
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	text-align: center;
	color: #8b8b8b;
	margin-top:10px;
}


#radio1:checked ~ .maincon #div1 p,
#radio2:checked ~ .maincon #div2 p,
#radio3:checked ~ .maincon #div3 p,
#radio4:checked ~ .maincon #div4 p,
#radio5:checked ~ .maincon #div5 p
{
	-webkit-animation:moveUp 0.6s ease-in-out 0.5s backwards;
	-moz-animation:moveUp 0.6s ease-in-out 0.5s backwards;
	-o-animation:moveUp 0.6s ease-in-out 0.5s backwards;
	-ms-animation:moveUp 0.6s ease-in-out 0.5s backwards;
	animation:moveUp 0.6s ease-in-out 0.5s backwards;
}
@-webkit-keyframes moveUp
{
	0%{
		-webkit-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}
.st-color
{
	background: #fa96b5;
}
.st-color .stdesc
{
	background: #fff;
}
.st-color [data-icon]:after{
	color: #fa96b5;
}
.st-color h2
{
	color: #fff;
	text-shadow:1px 1px 1px rbga(0,0,0,0.1);
}
.st-color p
{
	color: #fff;
}

@media screen and (max-width: 520px){
	.stpanel h2
	{
		font-size: 42px;
	}
	.stpanel p
	{
		width: 90%;
		left:10%;
		margin-top: 0;
	}
	.stcontain>a{
		font-size: 13px;
	}
}
@media screen and (max-width: 360px){
	.stpanel h2
	{
		font-size: 42px;
	}
	.stcontain>a{
		font-size: 10px;
	}
	.stdesc
	{
		width: 120px;
		height: 120px;
		margin-left:-60px; 
	}
	[data-icon]:after
	{
		font-size: 60px;
		-webkit-transform: rotate(-45deg)  translateY(15%);
		-moz-transform:  rotate(-45deg) translateY(15%);
		-o-transform:  rotate(-45deg) translateY(15%);
		-ms-transform:  rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
}